This file downloads NOAA's StormEvents data from 1950 to 2024 and selects from the obtained dataframe the entries corresponding to relevant tornadoes.

In [7]:
import pandas as pd
import requests
from io import BytesIO

base_url = "https://www.ncei.noaa.gov/pub/data/swdi/stormevents/csvfiles/"
creation_date = "20250520"  
all_years_data = []


for year in range(1950, 2025):
    print(f"\nProcessing year: {year}")

    if year == 1950:
        date = 20250401
    elif year == 2020:
        date = 20240620
    else:
        date = creation_date
    details_file = f"StormEvents_details-ftp_v1.0_d{year}_c{date}.csv.gz"


    def download_csv_gz(file_name):
        url = base_url + file_name
        try:
            r = requests.get(url)
            r.raise_for_status()
            return pd.read_csv(BytesIO(r.content), compression='gzip', low_memory=False)
        except Exception as e:
            print(f"Failed to load {file_name}: {e}")
            return None

    df_details = download_csv_gz(details_file)

    if df_details is None:
        continue

    df_details.columns = df_details.columns.str.lower()

    if 'event_id' not in df_details.columns:
        continue

    if year >= 1950 and year <= 2007:
        f_list = ['F0', 'F1', 'F2', 'F3', 'F4', 'F5']
    else:
        f_list = ['EF0', 'EF1', 'EF2', 'EF3', 'EF4', 'EF5']
    df_tornadoes = df_details[
    (df_details['event_type'] == 'Tornado') &
    (df_details['tor_f_scale'].isin(f_list))].copy()

    df_tornadoes['year'] = year  


    if df_tornadoes.empty:
        continue

    
    df_tornadoes['year'] = year
    all_years_data.append(df_tornadoes[['state', 'begin_lat', 'begin_lon', 'tor_f_scale', 'year']])


combined_df = pd.concat(all_years_data, ignore_index=True)

def year_to_bin(y):
    base = y - (y % 4)
    return f"{base}-{base + 3}"

combined_df['year_bin'] = combined_df['year'].apply(year_to_bin)


#binned_summary = combined_df.groupby(['year_bin', 'state', 'begin_lat', 'begin_lon', 'tor_f_scale']) \
#                            .size().reset_index(name='count')


#binned_summary.to_csv("1952_2007.csv", index=False)

Processing year: 1950

Processing year: 1951

Processing year: 1952

Processing year: 1953

Processing year: 1954

Processing year: 1955

Processing year: 1956

Processing year: 1957

Processing year: 1958

Processing year: 1959

Processing year: 1960

Processing year: 1961

Processing year: 1962

Processing year: 1963

Processing year: 1964

Processing year: 1965

Processing year: 1966

Processing year: 1967

Processing year: 1968

Processing year: 1969

Processing year: 1970

Processing year: 1971

Processing year: 1972

Processing year: 1973

Processing year: 1974

Processing year: 1975

Processing year: 1976

Processing year: 1977

Processing year: 1978

Processing year: 1979

Processing year: 1980

Processing year: 1981

Processing year: 1982

Processing year: 1983

Processing year: 1984

Processing year: 1985

Processing year: 1986

Processing year: 1987

Processing year: 1988

Processing year: 1989

Processing year: 1990

Processing year: 1991

Processing year: 1992

Processing year: 1993

Processing year: 1994

Processing year: 1995

Processing year: 1996

Processing year: 1997

Processing year: 1998

Processing year: 1999

Processing year: 2000

Processing year: 2001

Processing year: 2002

Processing year: 2003

Processing year: 2004

Processing year: 2005

Processing year: 2006

Processing year: 2007

Processing year: 2008

Processing year: 2009

Processing year: 2010

Processing year: 2011

Processing year: 2012

Processing year: 2013

Processing year: 2014

Processing year: 2015

Processing year: 2016

Processing year: 2017

Processing year: 2018

Processing year: 2019

Processing year: 2020

Processing year: 2021

Processing year: 2022

Processing year: 2023

Processing year: 2024

Following the year 2007, the Fujita scale for measuring tornado strength was replaced with the Enhanced Fujita scale. This is reflected in the data with tornado strength described by 'EF2', for example, instead of 'F2'. Here we account for this change.

In [10]:
def normalize_scale(scale):
    if isinstance(scale, str) and scale.strip().upper().startswith(('EF', 'F')):
        return f"F{scale[-1]}"  
    return scale

combined_df['tor_f_scale'] = combined_df['tor_f_scale'].apply(normalize_scale)

In [11]:
combined_df

                state  begin_lat  begin_lon tor_f_scale  year   year_bin
0            OKLAHOMA    35.1200   -99.2000          F3  1950  1948-1951
1               TEXAS    31.9000   -98.6000          F1  1950  1948-1951
2        PENNSYLVANIA    40.5800   -75.7000          F2  1950  1948-1951
3        PENNSYLVANIA    40.6000   -76.7500          F2  1950  1948-1951
4        PENNSYLVANIA    41.6300   -79.6800          F0  1950  1948-1951
...               ...        ...        ...         ...   ...        ...
74133        OKLAHOMA    35.5760   -98.6970          F1  2024  2024-2027
74134        ILLINOIS    41.0915   -89.3481          F1  2024  2024-2027
74135  NORTH CAROLINA    36.1364   -81.6769          F1  2024  2024-2027
74136        NEBRASKA    40.2117  -100.7282          F0  2024  2024-2027
74137        ILLINOIS    40.9971   -89.3629          F1  2024  2024-2027

[74138 rows x 6 columns]

In [12]:
combined_df.to_csv('all_tornadoes.csv')